.parceiros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  border: 2px solid #a8a8a8;
  border-radius: 500px;
  margin: 0 10px 0 10px;
}
