.header {
    background-color: var(--azul-uf);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
}

.header_container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}

.header_container h1 {
    margin-bottom: 0px;
}

.header_container p {
    margin-top: 0px;
}

.logo {
    padding-top: 5px;
}

.header_container span {
    background-color: #FEFEFE;
    width: 3px;
    border-radius: 5px;
    margin: 0 30px 0 30px;
}

.description {
    font-weight: 700;
    display: flex;
}

.description p {
    padding-left: 4rem;
}

.body {
    color: black;
    margin: 3rem 10rem 0 10rem;
}

.body_container_top {
    display: flex;
    flex-direction: row;
}

.img_container {
    position: relative; 
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}

.img_container span {
    display: block;
    position: relative;
    border-radius: 15px;
}

.img_container span::before {
    content: ' ';
    display: block;
    width: 55%;
    height: 106%;
    position: absolute;
    left: -1.8%;
    top: -3%;
    background: var(--azul-uf);
    border-radius: 15px;
}

.ppsus {
    padding-top: 10%;
    text-align: right;
    font-size: larger;
}

.ppsus h1:nth-child(1) {
    margin-bottom: 0px;
}

.ppsus h1:nth-child(2) {
    margin-top: 0px;
    font-size: 57px;
    font-weight: 900;
}

.ppsus Button {
    width: 360px;
    height: 72px;
    justify-content: space-evenly;
    background: #BFBFBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: black;
    font-family: Lato;
    font-size: 30px;
    font-weight: 900;
    text-transform: none;
}

.body_container_center {
    background-color: #AFAFAF;
}