.body {
    color: black;
    display: block;
}

.body_container_top {
    display: flex;
    flex-direction: row;
    height: 25%;
    margin: 3rem 10rem 3rem 10rem;
}

.img_container {
    position: relative; 
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}

.img_container span {
    display: block;
    position: relative;
    border-radius: 15px;
}

.img_container span::before {
    content: ' ';
    display: block;
    width: 65.5%;
    height: 106%;
    position: absolute;
    left: -1.8%;
    top: -3%;
    background: var(--azul-uf);
    border-radius: 15px;
}

.ppsus {
    padding-top: 10%;
    text-align: right;
    font-size: larger;
}

.ppsus h1:nth-child(1) {
    margin-bottom: 0px;
}

.ppsus h1:nth-child(2) {
    margin-top: 0px;
    font-size: 57px;
    font-weight: 900;
}

.ppsus Button {
    width: 360px;
    height: 72px;
    justify-content: space-evenly;
    background: #BFBFBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: black;
    font-family: Lato;
    font-size: 30px;
    font-weight: 900;
    text-transform: none;
}

.body_center {
    background-color: #AFAFAF;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    padding: 1rem 10rem 4.5rem 10rem;
}

.body_center_container {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body_center_container h2 {
    width: 50%;
}

.body_center_container Image {
    max-width: 100%;
    height: auto;
}

.body_integrantes {
    font-size: larger;
    font-weight: 900;
    text-align: center;
    padding: 1rem 10rem 4.5rem 10rem;
}

.cards_integrantes {
    display: flex;
    flex-direction: row;
}